<!DOCTYPE html>
<html ng-app="App">
<head>
    <script src="../LIBJS/angular.js"></script>
    <script src="../LIBJS/jquery-2.1.1.min.js"></script>
    <script src="../LIBJS/bootstrap.min.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="FAQController.js"></script>
    <link href="../Content/Site.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>


    <!--  START TAST1TUR-Desgin -->

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/"><img id="img-logo-landscape" src="../Resources/Tast1TurLandscape.png" alt="Logo" /></a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="nav-search">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td><input class="form-control" name="search" ng-model="search.Heading" ng- ng-pattern="/^[a-zøæåA-ZØÆÅ.0-9 \-]{1,50}$/" /></td>
                                <td><button class="btn btn-success" ng-click="searchMethod()">Søk</button></td>
                            </tr>
                        </table>
                    </li>
                    <li class="nav-item"> <a href="#">Login</a></li>
                    <li class="nav-item">  <a href="#">Handlekurv(0)</a> </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- SIDE BAR -->

    <div id="main-sidebar" class="sidebar-navbar">

        <ul class=" nav">
            <li><a class="sidebar-brand" href="#">Kategorier</a></li>
            <li><a class="sidebar-nav" href="#">Data</a></li>
            <li><a class="sidebar-nav" href="#">Musikk</a></li>
        </ul>
        <ul class="nav">
            <li><a class="sidebar-brand" href="#">Bruker</a></li>
            <li><a class="sidebar-nav" href="#">Logg inn</a></li>
        </ul>
    </div>

    <div id="main-content">
        <!-- START ANGULAR + AJAX-site compontents-->

        <div class="page-header text-center text-danger"><h2>Ofte Spurte Spørsmål</h2></div>
        <div class="row" ng-controller="FAQController">
            <div class="text-center" ng-show="laster"><h3>Laster data, vennligst vent ...</h3></div>
            <div class="col-sm-10 col-sm-offset-1" ng-show="visFaqs">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Ofte Spurte Spørsmål: </th>
                        </tr>
                    </thead>
                    <tbody ng-animate="'animate'" ng-repeat="faq in faqs | filter:search">
                        <tr class="main-row" ng-click="toggleDetail($index)">
                            <!-- Del opp i seksjoner for Kategorier med divs. if(category) depositFAQ-->
                            <!-- TODO style table-look. Ikke bordered?-->
                            <!-- TODO fiks search bar+button?-->
                            <!-- TODO Add masse FAQs til db.-->
                            <!-- TODO Endre header til å reflecte kategorier.-->
                            <!-- TODO Fikse størrelse på input-boks for skriv spørsmål.-->
                            <td>
                                <p class="text-muted">{{faq.Heading}}</p>
                            </td>

                        <tr class="extra-row" ng-show="activePosition == $index"><td>{{faq.Description}}</td></tr>


                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" ng-click="visSendSpm()" ng-show="regKnapp">Send inn spørsmål.</button>
            </div>


            <div class="col-sm-4 col-sm-offset-1" ng-show="showRecipt">
                <h2>Takk for ditt spørsmål.</h2>
                <p class="lead">
                    Svar vil bli sendt til: {{newQuestion.Email}}.
                </p>

                <button class="btn btn-primary" ng-click="goBack()" ng-show="goBack">Gå Tilbake</button>
            </div>


            <div class="col-sm-4 col-sm-offset-1" ng-show="showAFAQ">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>{{current.Heading}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{current.Description}}</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" ng-click="goBack()" ng-show="goBack">Gå Tilbake</button>
            </div>


            <div class="col-sm-10 col-sm-offset-1" ng-show="sendSpm">
                <form name="skjema">
                    <div class="form-group">
                        <label>Epost:</label>
                        <input class="form-control" name="epost" ng-model="epost" ng-required="true" ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/" />
                        <p class="label label-info" ng-show="skjema.epost.$invalid && skjema.epost.$dirty">Skriv inn en lovlig epost-adresse.</p>
                    </div>
                    <div class="form-group">
                        <label>Spørsmål:</label>
                        <input class="form-control" name="sporsmal" ng-model="sporsmal" ng-required="true" ng-pattern="/^[a-zøæåA-ZØÆÅ. \-]{10,}$/" />
                        <p class="label label-info" ng-show="skjema.sporsmal.$invalid && skjema.sporsmal.$dirty">Skriv inn en melding på minst 10 tegn.</p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="sendQuestion()" ng-disabled="skjema.$invalid" ng-show="registrering">Send inn spørsmål</button>
                    </div>
                </form>
                <button class="btn btn-primary" ng-click="goBack()" ng-show="goBack">Gå Tilbake</button>
            </div>

        </div>


        <!-- END ANGULAR + AJAX-site compontents-->

        <hr />
        <footer>
            <p>©2014 - Tast-En-Tur</p>
        </footer>
    </div>

    <!--  END TAST1TUR DESIGN -->
</body>
</html>
