body {
    padding-top: 55px;
    padding-bottom: 20px;
    background-color: #EEE;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#content {
    background: #003f7f;
    box-shadow: 5px 5px 10px #CCCCCC;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
    width: 30%;
}

h1 {
    font-family: Arial;
    font-weight: bold;
}


/*Navbar Header*/
.navbar-inverse {
    background: -webkit-linear-gradient(top, #005fbf, #003f7f);
    height: 55px;
    padding-bottom: 0px;
}

ul.nav .nav-item :hover {
    background: -webkit-linear-gradient(top, #007fdf, #005f9f);
}

ul.nav li.nav-item :visited,
ul.nav li.nav-item :link {
    font-size: large;
    color: white;
}

ul.nav li.nav-search table {
    margin-top: 9px;
    display: inline-block;
    border: 0;
    border-collapse: collapse;
}

    ul.nav li.nav-search table tr {
        border: 0;
        border-collapse: collapse;
    }

ul.nav li.nav-search input[type=submit] {
    text-align: center;
    padding-left: 7px;
    width: 40px;
}

ul.nav li :hover {
    text-decoration: none;
}

.navbar-collapse {
    background: -webkit-linear-gradient(top, #005fbf, #003f7f);
}

@media (min-width: 768px) {
    #main-sidebar {
        float: left;
        width: 130px;
        height: 100vh;
    }

    #main-content {
        border-right: thin solid silver;
        border-bottom: thin solid silver;
        overflow-x: hidden;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        margin-left: 150px;
        margin-right: 20px;
        max-width: 1000px;
        background-color: #FFF;
        border-radius: 4px;
    }

    .sidebar-navbar a {
        padding-top: 6%;
        padding-bottom: 6%;
    }
}

/* Navbar Sidebar */
.sidebar-navbar {
    background-color: white; /* #f5f3f3; #ddd*/
    border-width: thin;
    border-color: #666;
    border-right: thin solid silver;
    border-bottom: thin solid silver;
}


    .sidebar-navbar ul.nav li {
        border-bottom: solid;
        border-width: thin;
        border-color: silver;
    }

    .sidebar-navbar ul.nav .sidebar-brand {
        font-family: Arial;
        font-weight: bold;
        font-size: larger;
        color: #444;
        background: #f2f2f2;
    }

    .sidebar-navbar ul.nav :link,
    .sidebar-navbar ul.nav :visited,
    .sidebar-navbar ul.nav .sidebar-nav {
        color: #444;
    }

    .sidebar-navbar ul.nav :hover {
        background-color: #bbb;
        color: #000;
    }

    .sidebar-navbar ul.nav :active {
        background-color: #808080;
    }

    .sidebar-navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }



#navlist li {
    display: inline;
}


/*Styling for the tables (cart and admin)*/
table {
    border: 1px solid #000;
    border-collapse: collapse;
    color: #666666;
    min-width: 400px;
    width: 100%;
    

}

tr {
    line-height: 20px;
}

.extra-row td{
    font-size: 15px;
    font-style:normal;
    color: #005fbf;

}

.extra-row td p{
    color: #005fbf;
}

.extra-row td p{
    padding:25px;
    margin:25px;

}

thead {
    font-size:25px;
}
tbody{
    font-size:18px;
    font-style:initial;
    font-family:Arial;
}

th {
    background: #005fbf;
    color: #FFF;
    font-size: 25px;
    text-align: left;

}

th, td {
    padding-left: 5%;
}

    td .btn, th .btn {
        margin: 2px;
        float: right;
    }

.tsh {
    background: #BBB;
    color: #000;
    font-size: 13px;
    text-align: left;
    height: 15px;
}


#img-logo-landscape {
    float: left;
    vertical-align: central;
    max-height: 35px;
    height: 3vw;
    min-height: 30px;
    margin: 10px;
    margin-left: 15px;
}

/*Buttons*/
.button {
    float: right;
}

.button2 {
    float: left;
}

#WrongP {
    text-align: center;
    padding-top: 1em;
    border: thin solid silver;
    background-color: #f5f3f3;
    color: red;
}

.main-row {
    cursor: pointer;
}

.main-row:hover {
    background-color: #ddd;
}

.table>tbody>tr>td {
    padding: 0px;
}



/*animate CSS*/
.animate-enter, .animate-leave {
transition: 500ms ease-in all;
position: relative;
display: block;
} 
.animate-enter.animate-enter-active, .animate-leave {
left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
left: 500px;
}

.custom-enter,
.custom-leave,
.custom-move {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  position:relative;
}

.custom-enter {
  left:-10px;
  opacity:0;
}
.custom-enter.custom-enter-active {
  left:0;
  opacity:1;
}

.custom-leave {
  left:0;
  opacity:1;
}
.custom-leave.custom-leave-active {
  left:-10px;
  opacity:0;
}

.custom-move {
  opacity:0.5;
}
.custom-move.custom-move-active {
  opacity:1;
}

.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}